## Fetching classified products usign API

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import plotly
import os
import json
import requests

import plotly.express as px

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### function to make AI calls

In [3]:
# function to fetch data
def fetch_data(url):
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        df = pd.DataFrame(data)
        return df
    else:
        print(f"Failed to fetch data: {response.status_code} ")

### fetch the data

In [4]:
url = "https://fdw.fews.net/api/classifiedproduct/"
data = fetch_data(url)

In [5]:
classified_prds = data
classified_prds.shape

(5686, 12)

### view the data

In [6]:
classified_prds.head()

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
0,R0,"Agriculture, forestry and fishery products",,"Agriculture, forestry and fishery products",,,,,[],None,None,[]
1,R01,"Products of agriculture, horticulture and mark...","Agriculture products, horticulture, market gar...","Agriculture products, horticulture, market gar...","Productos agrícolas, horticultura","Produits agricoles, horticulture, maraîchage","Produtos agrícolas, horticultura, horta comercial",,[],None,None,[]
2,R011,Cereals,,Cereals,,,,,[],None,None,[]
3,R0111,Wheat,,Wheat,,,,,[],None,None,[]
4,R01111,Wheat planting seed,Wheat planting seed,Wheat planting seed,Semilla de siembra de trigo,Semences de blé,Semente de plantação de trigo,,"[semillas de trigo, semences de ble, triticum ...","[1001.11, 1001.91]",Triticum aestivum,[]

In [7]:
classified_prds.tail()

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
5681,S98000,Domestic services,,Domestic services,,,,,[],None,None,[]
5682,S99,Services provided by extraterritorial organiza...,,Services provided by extraterritorial organiza...,,,,,[],None,None,[]
5683,S990,Services provided by extraterritorial organiza...,,Services provided by extraterritorial organiza...,,,,,[],None,None,[]
5684,S9900,Services provided by extraterritorial organiza...,,Services provided by extraterritorial organiza...,,,,,[],None,None,[]
5685,S99000,Services provided by extraterritorial organiza...,,Services provided by extraterritorial organiza...,,,,,[],None,None,[]

In [8]:
# testing the notebook